*{
  margin: 0;
  padding: 0;
  font-family:'poppins','saans-serif';
  box-sizing: border-box;

}
/* body{
    background-image: url("todolist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
} */
.container{
    background: linear-gradient(150deg,#e393ed,#e081b8);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo_app{
    width: 100%;
    max-width:540px;
    background: #dbcad4;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo_app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius:30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #f1802f;
    color:#002765;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
   
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
   background-size: cover;
   background-position: center;
   top:12px;
   left: 8px;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
}
ul li span:hover{
    background: #edeef0;
}
li.completed{
    text-decoration: line-through;
}